* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --index: calc(1vw + 1vh); /* for responsive design: scales width and height of the screen
    example: for 1920x1080 it will be --index=(19.2 + 10.8) = 30px */
    --swiper-theme-color: #4b4d53;
    --swiper-navigation-size: 30px;
    --swiper-navigation-sides-offset: 40px;
    --swiper-pagination-bottom: 20px;
    --swiper-pagination-bullet-inactive-color: #4e4f53;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-color: #d1d2dd;

}
header {
    z-index: 9999;
    position: absolute;
    top: 35px;
    right: 80px;
    color: #fdfff5;
}
header a {
    text-decoration: none;
    color: rgba(253 255 245 / .9);
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .150rem;
}

body {
    background-color: #0D0907;
    color: #fdfff5
}
.slider {
    height: 100vh;
    box-shadow: inset 0 050px 50px #0D0907, inset 0 -50px 50px #0D0907;
}
.slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide__content {
    text-align: center;
    opacity: 0;
    transition: opacity, .55s ease;
}
.swiper-slide-active .slide__content {
    opacity: 1;
}
.slide__content h1 {
    font-size: calc(var(--index) * 2);
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * 0.5);
    margin-bottom: calc(var(--index) * 2);
    position: relative;
}
.slide__content p {
    font-size: calc(var(--index) * 0.8);
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * 0.3);
    color: rgba(253 255 245 / .8);
    margin-bottom: calc(var(--index) * 3.5);
}

.slide__content h1::after {
    content: '';
    height: 1px;
    width: 30%;
    background-color: rgba(253 255 245 / .35) ;
    position: absolute;
    left: 35%;
    bottom: calc(var(--index) * -1);
}
.slide-button {
    --button-color: rgba(253 255 245 / 0.9);
    padding: 9.25px 20px;
    font-size: 15.25px;
    border-radius: 0.5em;
    background-color: transparent;
    border: 1px solid var(--button-color);
    text-transform: uppercase;

}
.slide-button a {
    text-decoration: none;
    color: rgba(253 255 245);
    letter-spacing: .4rem;
    opacity: .8;
    font-size: 15px;
}
.slider-navigation > * {
    border: 1.5px solid var(--swiper-theme-color);
    border-radius: 10em;
    width: 55px;
    height: 55px;

}
.video-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: .7;
    transition: opacity 2s ease-out;
}
.video-background.change {
    opacity: 1;
}